 @(moreScripts: Html = Html(""))(implicit lang: Lang)
 <footer class="footer">
 	<div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">@Messages("back.to.top.label")</a></li>
              <li><a href="#">RSS</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ul>
          </div>
        </div>
 	<script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" /></script>
 	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
 	<script src="@routes.Assets.at("javascripts/owl.carousel.min.js")" /></script>
 	<script type="text/javascript">
 	$(document).ready(function() {
  		$("#owl-example").owlCarousel();
	});
 	</script>
 </footer>
 </div>
 </body>
